<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <div class="row">
      <div class="col-sm-12">
        <div class="jumbotron">
            <div class="container">
              <h2 class="display-3">Hallo, welkomm bei Christ Tippspiel</h2>
              <p class="lead">Spielregeln Christ Tippspiel WM 2018 Russland</p>
              <p class="lead">
                  <a class="btn btn-primary btn-sm" routerLink="/registrieren" role="button">Registrieren</a>
                  <a class="btn btn-primary btn-sm" routerLink="/anmelden" role="button">Anmelden</a>
              </p>
            </div>
        </div>

        <!-- Registrieren -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Registrieren Tippspiel</h3>
          </div>
          <div class="panel-body">
            Mit den .... habne Sie die Möglichkeit sich für diese Tippspiel zu registrieren. Melden Sie sich mit ein bekannte Emailadresse
            an, und vergen Sie ein Kennwort ein.
          </div>
        </div>

        <!-- Anmelden -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Anmelden Tippspiel</h3>
          </div>
          <div class="panel-body">
            Anmelden können Sie sich wenn Sie sich vorab registriert haben. Erst nach einen erfolgreich meldung
            können Sie Ihre Tipps abgeben.
          </div>
        </div>
        <!-- Kennwort zurücksetzen -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Kennwort zurücksetzen</h3>
          </div>
          <div class="panel-body">
            Wenn Sie Ihr Kennwort vergessen sind, haben Sie die Möglichkeit ein neues zu vergeben. Diese setzt voraus dass Sie
            sich mit einen gültige Emailadresse anmelden könnnen. Wenn nicht dan registrieren.
          </div>
        </div>

        <!-- Tippen -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Tippen</h3>
          </div>
          <div class="panel-body">
            Die 51 Spiele der EM werden auf Ergebnis getippt, es zählt hierbei das Resultat nach Ablauf der regulären Spielzeit, also
            ohne Verlängerung und Elfmeterschießen. Die Abgabe jedes Tipps ist bis zur offiziellen Anstoßzeit der jeweiligen
            Partie möglich.
          </div>
        </div>
        <!-- Punktvergabe -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Punktvergabe</h3>
          </div>
          <div class="panel-body">
            Jeder User erhält für das exakt richtige Ergebnis 3 Punkte, stimmt die Tendenz (Sieg, Unentschieden, Niederlage), wird dem
            Tipper 1 Punkt gutgeschrieben. Ist bei einem tendenziell richtigen Ergebnis auch die Tordifferenz korrekt, gibt
            es 2 Zähler für den User (Bsp.: Tipp: 2:0, Ergebnis 3:1 --> 2 Punkte oder Tipp: 1:1, Ergebnis 0:0 --> 2 Punkte)
          </div>
        </div>
      </div>
    </div>
    <hr>
  </div>
</div>
