<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <div class="row">
      <h3>Kennwort zurücksetzen</h3>
      <hr>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <img src="../assets/images/wm2018.png" alt="WM2081">
      </div>
      <div class="col-sm-8">
        <form (ngSubmit)="onReset()" #f="ngForm" novalidate>
          <div class="form-group">
              <label for="newPassword">Neues Kennwort</label>
              <input  type="newPassword"
                      id="newPassword"
                      name="newPassword"
                      placeholder="New Password"
                      ngModel
                      class="form-control"
                      required
                      #newPassword="ngModel"
                      ng-minlength="5" ng-maxlength="10"
                      >
              <span class="help-block" *ngIf="!newPassword.valid && newPassword.touched">Geben Sie bitte ein gültiges Kennwort ein!</span>
            </div>
            <div class="form-group">
                <label for="confirmPassword">Neues Kennwort bestätigen</label>
                <input  type="confirmPassword"
                        id="confirmPassword"
                        name="confirmPassword"
                        placeholder="Confirm Password"
                        ngModel
                        class="form-control"
                        required
                        #confirmPassword="ngModel"
                        ng-minlength="5" ng-maxlength="10"
                        >
                <span class="help-block" *ngIf="!confirmPassword.valid && confirmPassword.touched">Geben Sie bitte ein gültiges Kennwort ein!</span>
              </div>
              <span class="help-block"
                    *ngIf="newPassword.valid &&
                          newPassword.touched &&
                          confirmPassword.valid &&
                          confirmPassword.touched &&
                          newPassword.value !== confirmPassword.value">Kennwörter sind ungleich!</span>
              <button class="btn btn-primary" type="submit" [disabled]="!f.valid || newPassword.value !== confirmPassword.value">Update Password</button>
        </form>
      </div>
    </div>
  </div>
</div>

