<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <div class="row" id="flash-row">
      <flash-messages></flash-messages>
    </div>
    <div class="row">
      <h3>Kennwort zurücksetzen</h3>
      <hr>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <img src="../assets/images/wm2018.png" alt="WM2081">
      </div>
      <div class="col-sm-8">
        <form (ngSubmit)="onForgotten()" #f="ngForm" novalidate>
          <div class="form-group">
            <label for="email">E-Mail</label>
            <input  type="email"
                    id="email"
                    name="email"
                    ngModel
                    class="form-control"
                    required
                    maxlength="25"
                    [pattern]="'[^ @]*@[^ @]*'"
                    email
                    #email="ngModel"
            >
            <span class="help-block" *ngIf="!email.valid && email.touched">Geben Sie bitte eine gültige Emailadresse ein!</span>
          </div>
          <button class="btn btn-primary" type="submit" [disabled]="!f.valid || loading">Reset Kennwort</button>
        </form>
      </div>
    </div>
    <hr>
    <div class="row">
      <span>
        Anmelden? <a style="cursor: pointer" (click)="onSignin()">Hier anmelden</a>
      </span>
    </div>
  </div>
</div>

