<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <div class="row" id="flash-row">
          <flash-messages></flash-messages>
      </div>
    <div class="row">
      <h3>Registrieren</h3>
      <hr>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <img src="../assets/images/wm2018.png" alt="WM2081">
      </div>
      <div class="col-sm-8">
        <form (ngSubmit)="onSubmit()" #f="ngForm" >
          <!-- EMAIL -->
          <div class="form-group">
            <label for="email">E-Mail Adresse</label>
            <input  type="email"
                    id="email"
                    name="email"
                    ngModel
                    class="form-control"
                    required
                    maxlength="25"
                    [pattern]="'[^ @]*@[^ @]*'"
                    email
                    #email="ngModel"
            >
            <span class="help-block" *ngIf="!email.valid && email.touched">
                Bitte geben Sie eine gültige Emailadresse ein!
            </span>
          </div>

          <!-- KENNWORT -->
          <div class="form-group">
            <label for="password">Kennwort</label>
            <input  type="password"
                    id="password"
                    name="password"
                    ngModel
                    class="form-control"
                    required
                    #password="ngModel"
                    minlength="5" maxlength="10"
            >
            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="help-block">
                <div *ngIf="password.errors.required">
                  Bitte geben Sie eine gültige Kennwort ein!
                </div>
                <div *ngIf="password.errors.minlength">
                    Kennwort muss mindestens 5 Zeichen lang sein!
                </div>
            </div>
          </div>
          <button class="btn btn-primary" type="submit" [disabled]="!f.valid || loading">Registrieren</button>
        </form>
      </div>
    </div>
    <hr>
    <div class="row">
      <span class="help-block">
        {{errorMessage}}
      </span>
    </div>
    <div class="row">
      <span>
        Schon registriert? <a style="cursor: pointer" (click)="onSignin()">Hier anmelden</a>
      </span>
    </div>
  </div>
</div>
